allow init kmsg_device:chr_file write;
allow init qti-testscripts:process { noatsecure rlimitinh siginh transition };
allow init razerdate_exec:lnk_file read;
allow init debugfs_trace_marker:file { open write };
allow init qcom-usb-sh:process { noatsecure rlimitinh siginh };
allow init razer-info-sh:process { noatsecure rlimitinh siginh };
allow init razer-ping-sh:process { noatsecure rlimitinh siginh };
allow init razer-periph-sh:process { noatsecure rlimitinh siginh };
allow init qcom-usb-sh:process transition;
allow init razer-info-sh:process transition;
allow init razer-periph-sh:process transition;
allow init razer-ping-sh:process transition;
