allow init kmsg_device:chr_file write;
allow init qti-testscripts:process { noatsecure rlimitinh siginh transition };
allow init razerdate_exec:lnk_file read;
allow init debugfs_trace_marker:file { open write };

domain_trans(init, shell_exec, razer-serv-sh)

allow init razer-serv-sh:process { noatsecure rlimitinh siginh transition };

#debugfs access
userdebug_or_eng(`
typeattribute init qti_debugfs_domain;
allow init debugfs:dir r_dir_perms;
allow init debugfs:file rw_file_perms;
')
