allow priv_app device:dir { open read };
allow priv_app cache_private_backup_file:dir getattr;
allow priv_app zygote:binder call;
allow priv_app system_app_data_file:dir getattr;
