type razer-periph-sh, domain;
type razer-periph-sh_exec, exec_type, file_type;
init_daemon_domain(razer-periph-sh);

allow razer-periph-sh system_prop:property_service set;
allow razer-periph-sh proc:file { getattr open read };
allow razer-periph-sh rootfs:file { open read };
allow razer-periph-sh shell_exec:file { entrypoint getattr read };
allow razer-periph-sh toolbox_exec:file { execute execute_no_trans getattr open read };
