allow zygote ashmem_device:chr_file execute;
allow zygote debugfs:file { getattr };
allow zygote kernel:system module_request;
allow zygote mnt_expand_file:dir getattr;
allow zygote node:tcp_socket node_bind;
allow zygote self:capability sys_nice;
allow zygote self:process execmem;
allow zygote self:tcp_socket { bind create getattr listen setopt };
allow zygote servicemanager:binder call;
allow zygote shell_exec:file { execute execute_no_trans getattr open read };
allow zygote system_server:binder { call transfer };
allow zygote user_profile_data_file:file getattr;
allow zygote zygote_tmpfs:file execute;
allow zygote user_profile_data_file:dir search;
