<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="1" android:versionName="1.0" package="com.gabrielgagz.ledpearlyn" platformBuildVersionCode="25" platformBuildVersionName="7.1.2"
  xmlns:android="http://schemas.android.com/apk/res/android"
  android:sharedUserId="android.uid.system"
  coreApp="true">
 <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
 <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
        <application android:label="@string/app_name">
		<receiver android:name="com.gabrielgagz.ledpearlyn.LedPearlynReceiver">
		<intent-filter>
			<action android:name="android.intent.action.BOOT_COMPLETED" />
        </intent-filter>
        </receiver>
        <service android:name="com.gabrielgagz.ledpearlyn.LedPearlynService"
        android:enabled="true"
        android:exported="true">
        </service>
    </application>
</manifest>
